/*
Theme Name: Twenty Sixteen DOC.Moniteurs
Theme URI: https://gitlab.com/Glenans-CDMEB/DOC.moniteurs-Twenty-sixteen-child-theme
Author: Matthieu Faure (based on the WordPress team)
Author URI: https://asqatasun.org/
Description: Twenty Sixteen DOC.Moniteurs
Template: twentysixteen
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: twentysixteen-doc-moniteurs
Tags: one-column, two-columns, right-sidebar, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, flexible-header, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready, blog

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

.glenans-officiel {
    color: white;
    background-color: #c30210; /* rouge Glénans */
    font-weight: bold;
    padding: 5px;
}

.fiche-lecture-auteur code {
    font-size: 0.9em;
    color: black;
    background-color: #EDEDED;
}

.svg-icon {
    color: #767676;
    height: 1em;
    width: 1em;
    display: inline-block;
    fill: currentColor;
    position: relative;
    top: -0.0625em;
    vertical-align: middle;
    margin-right: 1em;
}
